html {
    background-color: black;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax {
    width: 500px;
    height: 100vh;
}

.text-block {
    width: 500px;
    height: 100%;
    position: relative;
    transform: perspective(200px)
    rotateX(35deg);
    overflow: hidden;
}

@keyframes text {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(0, -150%);
    }
}

.text {
    font-family: Ubuntu;
    font-size: 30px;
    position: absolute;
    top: 80%;
    animation: text 30s infinite ease-out;
    color: #ffeb3b;
    line-height: 40px;
}
.text-center {
    margin: 33%;
    line-height: 60px;
}
.text-center2 {
    margin: 20%;
    line-height: 80px;
}
